<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Calculadora</title>
  </head>
  <body>
    <header>
      <h3>Calculadora</h3>
    </header>

    <main>
      <section class="calculadora">
        <section class="pantalla">
          <section class="p-secundaria">0</section>
          <section class="p-principal">0</section>
        </section>
        <section class="teclado">
          <section class="comandos">
            <section class="accion-primarios">
              <div><span style="color: #7d092e">shift</span></div>
              <div>CE</div>
              <div>C</div>
              <div>back</div>
            </section>
            <section class="accion-secundarios"></section>
          </section>
          <section class="numeros">
            <section class="teclasNumeros">
              <div class="fila">
                <div>7</div>
                <div>8</div>
                <div>9</div>
              </div>
              <div class="fila">
                <div>4</div>
                <div>5</div>
                <div>6</div>
              </div>
              <div class="fila">
                <div>1</div>
                <div>2</div>
                <div>3</div>
              </div>
              <div class="fila">
                <div>±</div>
                <div>0</div>
                <div>.</div>
              </div>
            </section>
            <section class="teclasOperaciones">
              <div>/</div>
              <div>*</div>
              <div>-</div>
              <div>+</div>
              <div>=</div>
            </section>
          </section>
        </section>
      </section>
    </main>

    <footer>
      <p>by WolfTeI</p>
    </footer>

    <script type="module" src="./script.js"></script>
  </body>
</html>
